<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  
  <key>Label</key>
  <string>com.dipanjanc.bbspeedlogger</string>

  <key>Program</key>
  <string>/usr/local/bin/bbspeedlogger</string>

  <key>Nice</key>
  <integer>0</integer>

  <key>StartInterval</key>
  <dict>
    <integer>3600</integer>
  </dict>


  <key>WatchPaths</key>
  <array>
    <string>/Library/Preferences/SystemConfiguration/</string>
  </array>
</dict>
</plist>